@model WebApplication_ColmanFactory1.Models.Product

@{
    ViewData["Title"] = "Details";
}


<div>
    <h1>Details</h1>
    <div class="">
        <img src="@Html.DisplayFor(model => model.imagePath)" class="" alt="">
    </div>
        <div class="">
        <p class="">@Html.DisplayFor(model => model.Name)</p>
        <br />
        <div>
            <p class=""> Category:</p>
            <a class="btn btn-link" href="javascript:history.back()">@Html.DisplayFor(model => model.Category.Name)</a>
        </div>
        <div>
            <p class="card-title-style"> Price:</p>  @Html.DisplayFor(model => model.Price)
        </div>

        <hr />
        <form asp-controller="Carts" asp-action="AddProductToCart" asp-route-id="@Model.Id" method="post">
            <button type="submit" class="">
                Add To Cart
            </button>
            <a href="/Categories/@Html.DisplayFor(model => model.Category.Name)" class="">Back To Product's Category</a>
        </form>
    </div>
</div>


