@model IEnumerable<WebApplication_ColmanFactory1.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<br />
<form asp-action="SearchProduct">
    <input name="query" id="query" placeholder="Enter a value to search" autocomplete="off" />
    <input type="submit" value="search" class="btn btn-dark" />
</form>

<form asp-action="AdvancedSearch">
    <p</p>
    <p class="text-dark">Advanced Search:</p>
    <div class="row">
        <div class="col-md-3">
            <input type="text" id="productName" class="form-control" name="productName" required min="1" placeholder="Shoe Name">
        </div>
        <div class="col-md-3">
            <select class="custom-select" name="category" id="category" required aria-label="Category select ">
                <option selected disabled>Category</option>
                <option value="Women">Women</option>
                <option value="Men">Men</option>
                <option value="Boys">Boys</option>
                <option value="Girls">Girls</option>
            </select>
        </div>
        <div class="col-md-3">
            <select class="custom-select" aria-label="Min price select" name="price" id="price" required>
                <option selected disabled>Max Price</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option>
            </select>
        </div>
        <div class="col-md-3">
            <button type="submit" value="Search" class="btn btn-dark">Search</button>
        </div>
    </div>
</form>
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOnSale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imagePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOnSale)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
