@model WebApplication_ColmanFactory1.Models.Cart

@{ ViewData["Title"] = "My Cart"; }




<h1 class="">My Cart</h1>


<table class="">
    <thead>
        <tr>
            <th></th>
            <th>
                <p>Products</p>
            </th>
            <th>
                <p>Price</p>
            </th>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    <img src=@item.imagePath>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    <form asp-controller="Carts" asp-action="RemoveProductFromCart" asp-route-id="@item.Id" method="post">
                        <button class="btn btn-danger" type="submit">Remove</button>
                    </form>
                </td>
            </tr>
}
    </tbody>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayFor(model => model.TotalPrice)
            </th>
        </tr>
    </thead>
</table>

<button class="btn btn-success" data-toggle="modal" data-target="#pay">Pay Now</button>

<div class="modal" id="pay" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="" id="payment">
        <div class="">
            <form>
                <div class="cardholderName">
                    <label>Card Number</label>
                    <div class="cardholderName">
                        <input id="CardNumber" type="number" required min="1000000000000000" max="9999999999999999" />
                    </div>
                    <div name="validation"></div>
                    <div class="cardholderName">
                        <label>Cardholder Name</label>
                        <input id="CardHolder" type="text" required min="1" max="16" />
                    </div>
                </div>

                <div class="details">
                    <div class="exp">
                        <label>Expiry Date</label>
                        <div>
                            <select>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                            <select>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                                <option>2026</option>
                                <option>2027</option>
                                <option>2028</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="">
                    <label>CCV</label>
                    <div>
                        <input id="ccv" type="number" required min="100" max="999" />
                    </div>
                </div>
                <hr />
                <div class="">
                    <input class="btn btn-success" value="Pay" type="submit" asp-controller="Carts" asp-action="Pay" />
                </div>
            </form>
        </div>
    </div>
</div>


