@model IEnumerable<WebApplication_ColmanFactory1.Models.Cart>


        @foreach (var item in Model)
        {
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            <div class="btn-group">
                <a class="btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
            </div>
        </td>
        </tr>
        }